{
    "moduleId": "vueFilePond",
    "presets": [
        [
            "env", 
            {
                "targets": {
                    "ie": "11"
                }
            }
        ]
    ],
    "plugins": [
        ["transform-es2015-modules-umd", {
            "globals": {
                "vue": "Vue",
                "filepond": "FilePond"
            }
        }]
    ]
}